body{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    margin: 0px;
}
h1 {
    font-size: 60px;
    color: #575757;
}
h2{
    font-size: 40px;
    color: #575757;
}
.orange-text{
    color: orange;
}

.top-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    

}
#top-first-div{
    padding-top: 200px;
    margin-left: 100px;
}
.half-width p{
    text-align: left;
    color: #828282;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(to right, orange ,tomato);
    padding: 15px 40px;
    color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 40px grey;
}
#img1{
    margin-top: 5%
}
#text2{
    margin-top: 200px;
    margin-right: 150px;
    
}
#img2{
    margin-left: 150px;
    margin-top: 45px;
}
#container2{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.recipie{
    text-align: center;
}
.third-width{
    
    height: 450px;
    border-radius: 30px;
    padding: 1%;
    margin-left: 19%;
    margin-right: -17%;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 40px grey;
    
    




}


.final-width{
    width: 16%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    margin-left: 8%;
    margin-right: 0%;
     
    

}
#subscriber{
    box-shadow: 10px 10px 40px grey;
    margin-left:15%;
    margin-right: 15%;
    border-radius: 15px;
}